<h1>Instagram</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @tag_result['data'].each do |result| %>
  <% if result['type'] == ['video'] %>
    <video src="<%= result['videos']['standard_resolution']['url'] %>" controls=true></video>
  <% else %>
   <img src="<%= result['images']['standard_resolution']['url'] %>">
  <% end %>
<% end %>
<!--
<%= debug(@tag_result) %>
 -->
