<div class="container main-btn-margin">
  <% %w{miamitech wyncode emerge15}.each do |tag| %>
    <%= link_to(hashtag_path(tag), :class => "button", :class => "btn-wrapper") do %>
      <button class="btn-main btn-blue btn-fill-horz-o index-btn">
        #<%= tag %>
      </button>
    <% end %>
  <% end %>
</div>

<footer>
  <div class="footer">
    © 2015 Alexis Diaz, Daniel Schur, & Joshua Echeverri
  </div>
</footer>
