<<!DOCTYPE html>
<html>
<head>
	<title>#Wyning</title>
</head>
<body>
<div class="inbtncontainer">
<div class="btncontainer">
<% %w{miamitech wyncode emerge15}.each do |tag| %>
			<%= link_to(hashtag_path(tag), :class => "button") do %>
			<button class="btn btn-blue btn-fill-horz-o index-btn">
				#<%= tag %>
			<% end %>
			<% end %>
			</button>
			
</div>
</div>
</body>
</html>
