<head>

<link rel="stylesheet" type="text/css" href="index.css">

</head>
<header>#WYNING</header>
<body>

<div class="inbtncontainer">
<div class="btncontainer">
<% %w{miamitech wyncode miami}.each do |tag| %>
  <%= link_to(hashtag_path(tag), :class => "button") do %>
    <button class="btn btn-blue btn-fill-horz-o mainbtn">
      #<%= tag %>
    </button>
  <% end %>

<% end %>

</div>
</div>
</body>
