<h1>#WYNNING</h1>

<% %w{miamitech wyncode emerge15}.each do |tag| %>
  <%= link_to(hashtag_path(tag), :class => "button") do %>
    <button class="btn btn-blue btn-fill-horz-o">
      #<%= tag %>
    </button>
  <% end %>

<% end %>
