<div class="container-fluid">
  <% %w{miamitech wyncode emerge15}.each do |tag| %>
    <%= link_to(hashtag_path(tag), :class => "button", :class => "btn-wrapper") do %>
      <button class="btn-main btn-blue btn-fill-horz-o index-btn">
        #<%= tag %>
      </button>
    <% end %>
  <% end %>
</div>
