<h1>#WYNNING</h1>


<div class="btn-wrapper">
  <% %w{miamitech wyncode emerge15}.each do |tag| %>
    <%= link_to(hashtag_path(tag), :class => "button") do %>
      <button class="btn btn-blue btn-fill-horz-o index-btn">
        #<%= tag %>
      </button>
    <% end %>
  <% end %>
</div>

