<h2>#<%= params[:tag] %></h2>

<% @tags['data'].each do |result| %>
  <% if result['type'] == ['video'] %>
    <video controls>
      <source src="<%= result['videos']['standard_resolution']['url'] %>">
    </video>
  <% else %>
   <img src="<%= result['images']['standard_resolution']['url'] %>">
  <% end %>
<% end %>
