#form {
  width: 70px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}
*:focus {
  outline: none;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.mainbtn {
  display: inline-block;
  line-height: 10vh;
  padding: 2vh 2vw -2vh 2vw;
  font-size: 60px;
  opacity: .999;
  border-radius: 3px;
  min-width: 350px;
}
.smlbtn {
  display: inline-block;
  line-height: 35px;
  font-size: 15;
  opacity: .70;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 15px;
}

.btn-main {
  display: inline-block;
  line-height: 50vh;
  margin: 10px;
  margin-right: 1vw;
  padding: 2vh 2vw 2vh 2vw;
  font-size: 50px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  text-transform: uppercase;
}
.index-btn {
  text-transform: uppercase;
}

.animate, .btn, .back-btn, .btn-border-o:before, .btn-border-o:after, .btn-border:before, .btn-border:after, .btn-border-rev-o:before, .btn-border-rev-o:after, .btn-border-rev:before, .btn-border-rev:after, .btn-fill-vert-o:before, .btn-fill-vert-o:after, .btn-fill-vert:before, .btn-fill-vert:after, .btn-fill-horz-o:before, .btn-fill-horz-o:after, .btn-fill-horz:before, .btn-fill-horz:after {
  -webkit-transition: all 1s;
          transition: all 1s;
}
.wrapper{
  text-align: center;
  display: inline-block;
}
.back-btn {
  display: inline-block;
  line-height: 49px;
  margin: 5px;
  padding: 0px 129px;
  font-size: 15px;
  position: relative;
  opacity: 0.999;
  border-radius: 3px;
}
.btn-wrapper {
  margin: auto auto;
  width: 673px;
  display: inline;
}

.rt-btn-wrapper {
 /* margin-left: 80vw;*/
  margin-bottom: 50px;
  width: 150px;
  display: inline-block;
  float: right;
  }
.btn-fill-horz-o {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #B8B8B8;
  overflow: hidden;
}
.btn-fill-horz-o:before, .btn-fill-horz-o:after {
  content: '';
  width: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.btn-fill-horz-o:before {
  left: 50%;
}
.btn-fill-horz-o:after {
  right: 50%;
}
.btn-fill-horz-o:hover {
  color: #fff;
}
.btn-fill-horz-o:hover:before, .btn-fill-horz-o:hover:after {
  width: 50%;
  opacity: 1;
}
.btn-fill-horz-o.btn-blue:before, .btn-fill-horz-o.btn-blue:after {
  background-color: #141414;
}
.btn-fill-horz-o.btn-blue:hover {
  border-color: #141414;
}

