
@font-face {
    font-family: 'Rajdhani', sans-serif;
}
body {
	margin:0 auto;
  font-family: 'Rajdhani', sans-serif;
	padding-right: 30px;
	padding-left: 30px;

}

header {
	width: 100vw;
	font-size: 30px;
	text-align: center;
	margin-top: 45px;
	padding-bottom: 40px;
	height: 60px;
}
.logo {
  font-weight: bold;
  margin-top: -2px;
  font-size: 40px;
  padding-bottom: 17px;
  border-bottom: thin solid;

}
.back-btn-margin{
	margin-top: -5px;
}
.srch {
	margin-top: 10px;
}
.inbtncontainer {
	padding-top: 65px;
	margin: 0 auto;
	border-bottom: thin solid;
	border-top: thin solid;
	width: 90%;
	text-align: center;
}
.btncontainer {
	margin: 0 auto;
	height: 65vh;
	width: 90%;
	text-align: center;
	margin-top: 0px;
}

.container {
		width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

/*everything here is part of the left bar that displays hashtags*/
.leftbar {
  height: 78vh;
  width: 30vw;
  float: left;
  margin-left: 60px;
  margin-top: 20px;
  position: fixed;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.main-btn-margin{
	margin: 20px auto;
	border-top: thin solid;
	border-bottom: thin solid;
	padding-top: 50px;
	padding-bottom: 50px;
}
.rightbar {
	height: 77vh;
	width: 60vw;
	float: right;
	margin-top: -52px;
}
.searchtag {
  text-align: center;
  padding-bottom: 17px;
  padding-top: 250px;
  font-size: 45px;
  font-weight: bold;
}
.suptag {
	text-align: center;
	font-size: 1em;
	font-style: italic;
	text-transform: uppercase;
}

.suptag2 {
	text-align: center;
	font-size: .7em;
	font-style: italic;
	text-transform: uppercase;
}
.suptag3 {
	text-align: center;
	font-size: .5em;
	font-style: italic;
	text-transform: uppercase;
}

.suptag4 {
	text-align: center;
	font-size: .3em;
	font-style: italic;
	text-transform: uppercase;
}

h1 {
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-size: 50px;
}

footer {
	position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
	text-align:center;
	color: #B8B8B8;
}



.bigpic {
	width: 500px;
	padding: 70px 20px 30px 20px;
}

.smallpic {
	height: 180px;
	width: 180px;
	display: inline-block;
	padding: 14px;
}

.smallbar {
  width: 637px;
  margin: 0 auto;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200px;
  white-space: nowrap;
}


/*This is the end of the left hashtag bar*/

