
@font-face {
    font-family: myFirstFont;
    src: url(hilton-sans);
}
body {
	margin:0 auto;
}

header {
	width: 80vw;
	font-size: 40px;
	margin: 0;
}
.inbtncontainer {
	padding-top: 65px;
	margin: 0 auto;
	border-bottom: thin solid;
	border-top: thin solid;
	width: 90%;
	text-align: center;
}
.btncontainer {
	margin: 0 auto;
	height: 65vh;
	width: 90%;
	text-align: center;
	margin-top: 0px;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

/*everything here is part of the left bar that displays hashtags*/
.leftbar {
	height: 95vh;
	width: 30vw;
	float: left;
	margin-left: 120px;
	position: fixed;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.rightbar {
		/*background-color: red;*/
		height: 93vh;
		width: 60vw;
		float: right;
	/*	padding: 50px;*/
}
.addresstop {
	padding-top: 10%;
	border-top: thin solid;
}
.addressbottom {
	margin-bottom: 5%;
	padding-top: auto;
	padding-bottom: 75%;
	border-bottom: thin solid;
}

.searchtag {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 160px;
	font-size: 30px;
	font-family: sans-serif; bold;
}
.suptag {
	text-align: center;
	font-size: .25em;
	font-style: italic;

}

h1 {
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-size: 50px;
}

footer {
	text-align:center;
	position: relative;
}



.bigpic {
	width: 420px;
	padding: 50px 20px 20px 20px;
}

.smallpic {
	width: 180px;
	display: inline-block;
	padding: 14px;
}

.smallbar {
  width: 637px;
  margin: 0 auto;
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200px;
  white-space: nowrap;
}
#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}

#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: gray;
}

/*This is the end of the left hashtag bar*/

